@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
}

@layer components {
  h1{
    @apply font-bold text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl
  }
  h4 {
    @apply font-medium max-md:text-sm xl:text-lg 2xl:text-xl
  }
}

#blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
